.center{
	text-align: center;
}

body{
	background-color: #1E272F;
	color: white;
	height: 100%;
}

#spent, #profit, #value, #opened{
	font-size: x-large;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: 2px;

}

#spent_val, #profit_val, #value_val, #opened_val{
	font-size: xx-large;
	text-align: center;
	padding-top: 3px;
}

#milspec_val, #restricted_val, #classified_val, #covert_val, #knife_val, #milspec_stat_val, #restricted_stat_val, #classified_stat_val, #covert_stat_val, #knife_stat_val{
	font-weight: bold;
	font-size: 18;
	display: inline-block;
}

#milspec, #restricted, #classified, #covert, #knife, #milspec_stat, #restricted_stat, #classified_stat, #covert_stat, #knife_stat{
	font-size: 20;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display: inline-block;
}

#weapons{
	margin-top: 30px;
	margin-bottom: 20px;
}

#start, #reset{
	margin: 5px;
}